@media only screen and (max-width: 600px) {
  body.pages-teamresourcesapp-html header img[alt="Logo"] {
    width: 60px !important;
    height: auto !important;
  }
}
@media only screen and (max-width: 600px) {
  body.pages-teamresourcesapp-html header > p {
    display: none !important;
  }
}
